@model IEnumerable<AzureCosmosDB.Models.CollectionStats>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartitionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartitionKey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordCount)
                </td>
                @if (item.NeedMigration)
                {
                    <td>
                        @Html.ActionLink("Migrate to temp _new collection", "MigrateToTemp", new { id = item.Id })
                    </td>
                    @if (!item.Id.Contains("_new"))
                    {
                        <td>
                            @Html.ActionLink("Migrate to final partition collection", "MigrateToPartition", new { id = item.Id })
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
